<% if message.user == current_user %>
<div class="message yours">
    <div class="message-content"><%= message.content %></div>
</div>
<% else %>
<div class="message others">
    <div class="message-name"><%= message.user.name %></div>
    <div class="message-content"><%= message.content %></div>
</div>
<% end %>