<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @user.name %>
</p>

<p data-turbolinks="false">
    <strong>Chat Room:</strong>
    <% @user.rooms.each do |room| %>
    <%= link_to room.name, room_path(room.id)%>
    <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>